<!-- <html>
    <head>
        <title> <%= title %></title>
    </head>
    <body>
        <%- include('_header.ejs'); %> -->
        <link rel="stylesheet" href="/css/user.css">
        <h1>User's Profile</h1>
        <p>My Email:<%= profile_user.email %></p>
            <p>My Name: <%= profile_user.name %></p>
            
        <!-- <%- include('_footer.ejs'); %>
    </body>
</html> -->